#create_buyer{
    height: 450px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}


 /* Style the vertical scrollbar */
 #create_buyer::-webkit-scrollbar {
  width: 3px;
}

/* Style the scrollbar track */
 #create_buyer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Replace with your desired color */
}

/* Style the scrollbar thumb */
 #create_buyer::-webkit-scrollbar-thumb {
  background: #888; /* Replace with your desired color */
}
@media (max-width:900px){

#create_buyer {
 grid-template-columns: 1fr;
}

}
